.navbar-black {
  background-color: rgba(122, 122, 122, .8);  
}
 .navbar-black .btn {
   margin-right: 6px;
   min-width: 110px;
 }

 .nav-link,
.navbar-brand {
   font-size: 1.5em;
   font-weight: 300;
   color: rgb(255, 255, 255);
   min-width: 110px;
}
.nav-link:focus, .nav-link:hover,
.navbar-brand:focus, .navbar-brand:hover {
   color: rgb(155, 155, 155);
}